@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>RFID Client Sample</h2>
</div>

<body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <hr />
    <input id="Get" type="button" value="Connect To Local Server" onclick="GetData()" />
    <input id="Output1" type="text" />


    <hr />
    <input id="Send" type="button" value="Send Data To Server" onclick="GetRFIDPhoto()" />
    <input id="Output2" type="text" />

    <script>
        setInterval(function () {
            GetMsg();
        }, 500);
        function GetData() {
            $.ajax({
                type: "GET",
                url: "/Home/Test",
                //data: '{name: "' + $("#txtName").val() + '" }',
                //contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (response) {
                    Output1.value = response;
                },
                failure: function (response) {
                    Output1.value = response;
                },
                error: function (response) {
                    Output1.value = response;
                }
            });
        }

        function GetRFIDPhoto() {
            $.ajax({
                type: "GET",
                url: "/Home/GetRFIDPhoto",
                dataType: "text",
                success: function (response) {
                    Output2.value = response;
                },
                failure: function (response) {
                    Output2.value = response;
                },
                error: function (response) {
                    Output2.value = response;
                }
            });
        }

        function GetMsg() {
            $.ajax({
                type: "GET",
                url: "/Home/msgR",
                dataType: "text",
                success: function (response) {
                    Output2.value = response;
                },
                failure: function (response) {
                    Output2.value = response;
                },
                error: function (response) {
                    Output2.value = response;
                }
            });
        }
    </script>
</body>